*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.screen{
  height: 100vh;
  background: rgb(232, 143, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2{
  width: 15px;
  height: 15px;
  background-color: black;
}

.dot{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 0 5px;
  animation: animate 1s linear infinite;
  transform: translate(-80%, -50%);
}

.btn_1{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;

}

.btn_2{
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;
}

.btn_3{
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;
}

